# JSON - Lab

## Introduction

In this lab, you'll practice navigating JSON data structures.

## Objectives
You will be able to:
* Use the JSON module to load and parse JSON documents

## JSON

### Open the dataset from json

In [1]:
import json
f = open('nyc_2001_campaign_finance.json')
data = json.load(f)

### What is the root data type of the json file?

In [2]:
type(data)

dict

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [3]:
#Your code here
type(data['data'])

list

### Preview the first entry from the value returned by the 'data' key above.

In [4]:
#Your code here
data['data'][0]

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [25]:
# Your code here
A= {'data','data'}
data['meta'].keys()

dict_keys(['view'])

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a pandas DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [33]:
#Your code here
import pandas as pd
from pandas.io.json import json_normalize

In [ ]:
df1= pd.DataFrame.from_dict(json_normalize, orient='columns')

In [35]:
df = pd.DataFrame.from_dict(json_normalize(data), orient='columns')

In [36]:
df.head()

,data,meta.view.id,meta.view.name,meta.view.attribution,meta.view.averageRating,meta.view.category,meta.view.createdAt,meta.view.description,meta.view.displayType,meta.view.downloadCount,...,meta.view.tableAuthor.id,meta.view.tableAuthor.displayName,meta.view.tableAuthor.profileImageUrlLarge,meta.view.tableAuthor.profileImageUrlMedium,meta.view.tableAuthor.profileImageUrlSmall,meta.view.tableAuthor.screenName,meta.view.tableAuthor.type,meta.view.tableAuthor.flags,meta.view.tags,meta.view.flags
0,"[[1, E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1, 1, ...",8dhd-zvi6,2001 Campaign Payments,Campaign Finance Board (CFB),0,City Government,1315950830,A listing of public funds payments for candida...,table,1470,...,5fuc-pqz2,NYC OpenData,/api/users/5fuc-pqz2/profile_images/LARGE,/api/users/5fuc-pqz2/profile_images/THUMB,/api/users/5fuc-pqz2/profile_images/TINY,NYC OpenData,interactive,[mayBeStoriesCoOwner],"[finance, campaign finance board, cfb, nyccfb,...","[default, restorable, restorePossibleForType]"

### What's wrong with the first row of the DataFrame?

In [ ]:
#Your code here

In [ ]:
#Your answer here

## Summary

Congratulations! You've started exploring some more JSON data structures used for the web and got to practice data munging and exploring!